# Python
__pycache__/
*.pyc
venv/
backend/venv/

# Node
node_modules/

# Environment
.env
backend/.env

# ML & Data
*.csv
*.pkl
*.joblib
*.sas7bdat

# Large data folders
ed2015_sas/
ed2016_sas/
ed2017_sas/
ed2018_sas/
ed2019_sas/
ed2020_sas/
ed2021_sas/
ed2022_sas/

datasets/
3_labels/
all_artifacts/
catboost_info/
cache_dir/
trial_method/